---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
def acronyms(raw):
    for acronym, name in states.items():
        if name == raw:
            return acronym


def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    data=[]
    with open('university_towns.txt','r') as f:
        file=f.read().split('\n')
    
    
    for element in file:
        if '[edit]' in element:
            state=element
        else:
            data.append([state,element])                
            

    data=pd.DataFrame(data,columns=["State", "RegionName"])
    data['State']=data['State'].str.split('[').str[0]
    data['RegionName']=data['RegionName'].str.split(' ()').str[0]

    data['State']=data['State'].apply(acronyms)

    
    return data

get_list_of_university_towns()

    State     RegionName
0      AL         Auburn
1      AL       Florence
2      AL   Jacksonville
3      AL     Livingston
4      AL     Montevallo
5      AL           Troy
6      AL     Tuscaloosa
7      AL       Tuskegee
8      AK      Fairbanks
9      AZ      Flagstaff
10     AZ          Tempe
11     AZ         Tucson
12     AR    Arkadelphia
13     AR         Conway
14     AR   Fayetteville
15     AR      Jonesboro
16     AR       Magnolia
17     AR     Monticello
18     AR   Russellville
19     AR         Searcy
20     CA         Angwin
21     CA         Arcata
22     CA       Berkeley
23     CA          Chico
24     CA      Claremont
25     CA         Cotati
26     CA          Davis
27     CA         Irvine
28     CA           Isla
29     CA     University
..    ...            ...
487    VA           Wise
488    VA     Chesapeake
489    WA     Bellingham
490    WA         Cheney
491    WA     Ellensburg
492    WA        Pullman
493    WA     University
494    WV         Athens
495    WV     Buckhannon
496    WV       Fairmont
497    WV      Glenville
498    WV     Huntington
499    WV     Montgomery
500    WV     Morgantown
501    WV  Shepherdstown
502    WV           West
503    WI       Appleton
504    WI            Eau
505    WI          Green
506    WI             La
507    WI        Madison
508    WI      Menomonie
509    WI      Milwaukee
510    WI        Oshkosh
511    WI    Platteville
512    WI          River
513    WI        Stevens
514    WI       Waukesha
515    WI     Whitewater
516    WY        Laramie

[517 rows x 2 columns]

In [4]:
gdp=pd.read_excel('gdplev.xls')
gdp=gdp.loc[7:,['Unnamed: 4','Unnamed: 5','Unnamed: 6']].rename(columns={'Unnamed: 4':'Quarters',
                                                                     'Unnamed: 5':'GDP in billions of current dollars',
                                                                     'Unnamed: 6':'GDP in billions of chained 2009 dollars'})
    
gdp=gdp.reset_index(drop=True).drop(index=[raw for raw in range(0,(2000-1947)*4)])

def get_recession_start():
    
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''    

    for i in range(1,len(gdp)-3):
        if (gdp.iloc[i,2]<gdp.iloc[i-1,2]) and (gdp.iloc[i+1,2]<gdp.iloc[i,2]):
            return gdp.iloc[i,0]

get_recession_start()

'2008q3'

In [5]:
def get_recession_end():
    
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    for i in range(1,len(gdp)-3):
        if (gdp.iloc[i,2]<gdp.iloc[i-1,2]) and (gdp.iloc[i+1,2]<gdp.iloc[i,2])\
        and (gdp.iloc[i+2,2]>gdp.iloc[i+1,2]) and (gdp.iloc[i+3,2]>gdp.iloc[i+2,2]):
            return gdp.iloc[i+3,0]
    
       
get_recession_end()

'2009q4'

In [6]:
def get_recession_bottom():
    
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    ind1=gdp.loc[gdp['Quarters']==get_recession_start()].index.values[0]
    ind2=gdp.loc[gdp['Quarters']==get_recession_end()].index.values[0]
    mingdp=gdp.loc[ind1:ind2,'GDP in billions of chained 2009 dollars'].min()
    return gdp.loc[gdp['GDP in billions of chained 2009 dollars']==mingdp,'Quarters'].values[0]
                     
get_recession_bottom()

'2009q2'

In [7]:
def convert_housing_data_to_quarters():
    
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    data=pd.read_csv('City_Zhvi_AllHomes.csv')
    data=data.set_index(['State','RegionName'])
    data=data.loc[:,'2000-01':'2016-08']
    data = data.groupby(pd.PeriodIndex(data.columns, freq='Q'), axis=1).mean()
    
    return data

#convert_housing_data_to_quarters()

In [8]:
def run_ttest():
    
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    # new data showing the decline or growth of housing prices between the recession start and the recession bottom
    recession_house_pricing=convert_housing_data_to_quarters().loc[:,get_recession_start():get_recession_bottom()]
    recession_house_pricing=recession_house_pricing[get_recession_start()]/recession_house_pricing[get_recession_bottom()]
    recession_house_pricing=recession_house_pricing.to_frame(name='-decline/+growth')# to do the merge later
    
    # adding a new column to distinguish university towns
    list_of_university_towns=get_list_of_university_towns().copy()
    list_of_university_towns['university_towns']=True
    
    # merging 'recession_house_pricing' and 'list_of_university_towns' 
    data=pd.merge(recession_house_pricing,list_of_university_towns,how='left',right_on=['RegionName','State'],left_on=['RegionName','State'])
    # distinguish non university towns
    data['university_towns']=data['university_towns'].fillna(False)
    # dropping null rows (rows with no quarters information)
    data=data.dropna()
    # segmenting data
    university_towns=data.loc[data['university_towns']==True]
    non_university_towns=data.loc[data['university_towns']==False]
    # calculating the p_value
    p_value=ttest_ind(university_towns['-decline/+growth'], non_university_towns['-decline/+growth'])[1]
    # calculating the mean price ratio
    if university_towns['-decline/+growth'].mean() < non_university_towns['-decline/+growth'].mean():
        better= "university town"
    else:
        better="non-university town"
              
    return p_value<0.01,p_value,better

run_ttest()

(False, 0.01397220183332428, 'university town')